@model LearnerProject.Models.Entities.CourseRegister 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentLayout/Index.cshtml";
}

<h3>Kurs Kayıt Sayfası</h3>

<form method="post">
    <label>Kurs Adı</label>
    @Html.DropDownListFor(x=>x.CourseId,(List<SelectListItem>)ViewBag.course,"Kurs Seçiniz",new {@class="form-control"})
    <br />
    <button class="btn btn-outline-primary">Kursa Kayıt Ol</button>
</form>