
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<div class="untree_co-hero overlay" style="background-image: url('/Templates/learner-1.0.0/images/hero-img-1-min.jpg');">


    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-12">

                <div class="row justify-content-center ">

                    <div class="col-lg-6 text-center ">
                        <a href="#" href="https://vimeo.com/342333493" data-fancybox data-aos="fade-up" data-aos-delay="0" class="caption mb-4 d-inline-block">Watch the video</a>

                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Education is the Mother of Leadership</h1>
                        <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-secondary">Explore courses</a></p>

                    </div>


                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /.untree_co-hero -->


<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">Browse Top Category</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="0">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-atom"></i>
                    </div>
                    <div>
                        <h3>Science</h3>
                        <span>1,391 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-briefcase"></i>
                    </div>
                    <div>
                        <h3>Business</h3>
                        <span>3,234 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-calculator"></i>
                    </div>
                    <div>
                        <h3>Finance Accounting</h3>
                        <span>931 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-pen"></i>
                    </div>
                    <div>
                        <h3>Design</h3>
                        <span>7,291 courses</span>
                    </div>
                </a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="0">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-music"></i>
                    </div>
                    <div>
                        <h3>Music</h3>
                        <span>9,114 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-chart-pie"></i>
                    </div>
                    <div>
                        <h3>Marketing</h3>
                        <span>2,391 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-camera"></i>
                    </div>
                    <div>
                        <h3>Photography</h3>
                        <span>7,991 courses</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="category d-flex align-items-start h-100">
                    <div>
                        <i class="uil uil-circle-layer"></i>
                    </div>
                    <div>
                        <h3>Animation</h3>
                        <span>6,491 courses</span>
                    </div>
                </a>
            </div>


        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-8 text-center">
                <p>We have more category here. <a href="#">Browse all</a></p>
            </div>
        </div>
    </div>
</div>

<div class="services-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 mb-5 mb-lg-0">

                <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
                    <h2 class="line-bottom mb-4">Become an Instructor</h2>
                </div>

                <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

                <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                    <li>Behind the word Mountains.</li>
                    <li>Far far away Mountains.</li>
                    <li>Large language Ocean.</li>
                </ul>

                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary">Get Started</a></p>

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
                <figure class="img-wrap-2">
                    <img src="~/Templates/learner-1.0.0/images/teacher-min.jpg" alt="Image" class="img-fluid">
                    <div class="dotted"></div>
                </figure>

            </div>
        </div>
    </div>
</div>



<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">We Have Best Education</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="feature">
                    <span class="uil uil-music"></span>
                    <h3>Music Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">
                    <span class="uil uil-calculator-alt"></span>
                    <h3>Math Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">
                    <span class="uil uil-book-open"></span>
                    <h3>English Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>


            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay=100">
                <div class="feature">
                    <span class="uil uil-book-alt"></span>
                    <h3>Reading for Kids</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">
                    <span class="uil uil-history"></span>
                    <h3>History Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">
                    <span class="uil uil-headphones"></span>
                    <h3>Music</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.untree_co-section -->


@Html.Action("DefaultCoursePartial")

<div class="untree_co-section pt-0 bg-img overlay" style="background-image: url('images/img-school-1-min.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-7">
                <h2 class="text-white mb-3" data-aos="fade-up" data-aos-delay="0">Education for Tomorrow's Leaders</h2>
                <p class="text-white h5 mb-4" data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-secondary" data-aos="fade-up" data-aos-delay="200">Enroll Now</a></p>
            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->

<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 mb-5">
                <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">About Us</h2>
                <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <ul class="list-unstyled ul-check mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                    <li>Separated they live</li>
                    <li>Bookmarksgrove right at the coast</li>
                    <li>large language ocean</li>
                </ul>

                <div class="row count-numbers mb-5">
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                        <span class="counter d-block"><span data-number="12023">0</span><span>+</span></span>
                        <span class="caption-2">No. Students</span>
                    </div>
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <span class="counter d-block"><span data-number="49">0</span><span></span></span>
                        <span class="caption-2">No. Teachers</span>
                    </div>
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <span class="counter d-block"><span data-number="12">0</span><span></span></span>
                        <span class="caption-2">No. Awards</span>
                    </div>
                </div>

                <p data-aos="fade-up" data-aos-delay="200">
                    <a href="#" class="btn btn-primary mr-1">Admission</a>
                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="bg-1"></div>
                <a href="https://vimeo.com/342333493" data-fancybox class="video-wrap">
                    <span class="play-wrap"><span class="icon-play"></span></span>
                    <img src="~/Templates/learner-1.0.0/images/img-school-4-min.jpg" alt="Image" class="img-fluid rounded">
                </a>
            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->

<div class="untree_co-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">School News</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="media-h d-flex h-100">
                    <figure>
                        <img src="~/Templates/learner-1.0.0/images/img-school-1-min.jpg" alt="Image">
                    </figure>
                    <div class="media-h-body">
                        <h2 class="mb-3"><a href="#">Education for Tomorrow's Leaders</a></h2>
                        <div class="meta mb-2"><span class="icon-calendar mr-2"></span><span>June 22, 2020</span>  <span class="icon-person mr-2"></span>Admin</div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="media-h d-flex h-100">
                    <figure>
                        <img src="~/Templates/learner-1.0.0/images/img-school-2-min.jpg" alt="Image">
                    </figure>
                    <div class="media-h-body">
                        <h2 class="mb-3"><a href="#">Enroll Your Kids This Summer to get 30% off</a></h2>
                        <div class="meta mb-2"><span class="icon-calendar mr-2"></span><span>June 22, 2020</span>  <span class="icon-person mr-2"></span>Admin</div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->


<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">Pricing</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="00">
                <div class="pricing">
                    <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-1.png" alt="Image" class="img-fluid"></div> -->
                    <div class="pricing-body">

                        <h3 class="pricing-plan-title">Starter</h3>
                        <div class="price"><span class="fig">$50.99</span><span>/month</span></div>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                        <p><a href="#" class="btn btn-outline-primary">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing">
                    <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-2.png" alt="Image" class="img-fluid"></div> -->
                    <div class="pricing-body">

                        <h3 class="pricing-plan-title">Business</h3>
                        <div class="price"><span class="fig">$99.99</span><span>/month</span></div>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                        <p><a href="#" class="btn btn-primary">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing">
                    <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-3.png" alt="Image" class="img-fluid"></div> -->
                    <div class="pricing-body">

                        <h3 class="pricing-plan-title">Premium</h3>
                        <div class="price"><span class="fig">$199.99</span><span>/month</span></div>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                        <p><a href="#" class="btn btn-outline-primary">Get Started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->


<div class="untree_co-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mx-auto">

                <h3 class="line-bottom mb-4">Testimonials</h3>
                <div class="owl-carousel wide-slider-testimonial">
                    <div class="item">
                        <blockquote class="block-testimonial">

                            <p>
                                &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
                            </p>
                            <div class="author">
                                <img src="~/Templates/learner-1.0.0/images/person_1.jpg" alt="Free template by TemplateUX">
                                <h3>John Doe</h3>
                                <p class="position">CEO, Founder</p>
                            </div>
                        </blockquote>
                    </div>

                    <div class="item">
                        <blockquote class="block-testimonial">

                            <p>
                                &ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;
                            </p>
                            <div class="author">
                                <img src="~/Templates/learner-1.0.0/images/person_2.jpg" alt="Free template by TemplateUX">
                                <h3>James Woodland</h3>
                                <p class="position">Designer at Facebook</p>
                            </div>
                        </blockquote>
                    </div>

                    <div class="item">
                        <blockquote class="block-testimonial">

                            <p>
                                &ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;
                            </p>
                            <div class="author">
                                <img src="~/Templates/learner-1.0.0/images/person_3.jpg" alt="Free template by TemplateUX">
                                <h3>Rob Smith</h3>
                                <p class="position">Product Designer at Twitter</p>
                            </div>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="untree_co-section">


    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <img src="~/Templates/learner-1.0.0/images/img-school-5-min.jpg" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <h3 class="line-bottom mb-4">Why Choose Us</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>

                <div class="custom-accordion" id="accordion_1">
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Good Teachers and Staffs</button>
                        </h2>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/Templates/learner-1.0.0/images/img-school-1-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Value Good Characters</button>
                        </h2>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/Templates/learner-1.0.0/images/img-school-2-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Children are Safe</button>
                        </h2>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/Templates/learner-1.0.0/images/img-school-3-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                                        <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!-- .accordion-item -->

                </div>

            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->
